services:
  web-app:
    build: .
    image: mi-proyecto-mvc
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./Kanban.db:/app/Kanban.db # <-- ESTO vincula el archivo de la PC con el contenedor